{% extends 'base.html' %}


{% block head %}
<title>Course</title>
{% endblock head %}


{% block content %}
<h1>Course</h1>
<br>

<form action="/course" method="POST">
    name: <br>
    <input type="text" name="name" id="name">
    <br><br>
    entity: <br>
    <input type="text" name="entity_name" id="entity_name">
    <br><br>
    <input type="submit" value="New">
</form>
<br>
<form action="/course">
    <table style="width:50%" border="1">
        <tr>
            <th>Name</th>
            <th>Entity Name</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course[1]}}</td>
            <td>{{course[2]}}</td>
            <td><a href="/course?id={{course[0]}}">update</a></td>
            <td>delete</td>
        </tr>
        {% endfor %}

    </table>
</form>
{% endblock content %}